<!DOCTYPE html>
<html>
<head>
  <title><%= title %> | Chicken | New Order</title>
</head>
<body>
  <h1>World Famous Chicken Nuggets</h1>
  <a href="/chickennuggets">Cancel</a>
  <form action="/chickennuggets/order" method="POST">
    Name: <input name="name" type="text" placeholder="Name">
    Style:
    <select name="style">
      <option value="mild">Mild</option>
      <option value="medium">Medium</option>
      <option value="hot">Hot</option>
      <option value="jetfuel">Jet Fuel</option>
    </select>
    Qty: <input name="qty" type="number" min="1" value="6">
    <input type="submit" value="Order me some nuggets">
  </form>
</body>
</html>
