<!DOCTYPE html>
<html>
<head>
  <title><%= title %> | Imgur</title>
</head>
<body>
  <h1>Welcome to Imgur</h1>

  <form action="/imgur/upload" method="POST" enctype="multipart/form-data">
    <input type="file" name="image" accept="image/*">
    <input type="submit" value="Upload">
  </form>
</body>
</html>
