<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/main.css">
 </head>
 <body>

 <h1>I will make you <%= qty %> pizza with <%= topping %></h1>


 </body>
</html>
