<!doctype html>
<html>
  <head>
    <title><%= title %> | Pizza Shop</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <body>
    <h1>I shall'a make you <%= qty %> pizza with a'da <%= topping %></h1>
  </body>
</html>
