
<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title><%= title %></title>
 </head>
 <body>

 <h1>Site Title is: <%= title %></h1>
 <h2> <%= welcome %> </h2>
 <h3> More Things... </h3>
 <ul>
   <% awesomeThings.forEach(function (thing) { %>
     <li><%= thing %> is awesome!</li>
     <% }); %>
     </ul>

 </body>
</html>
