<!doctype html>
<html>
  <head>
    <title><%= title %> | Awesomeist Things</title>
  </head>
  <body>
    <h1>My Site Title is <%= title %></h1>
    <h2><%= welcome %></h2>
    <h3>These are the most awesome things...</h3>
    <ul>
      <% awesomeThings.forEach(function (thing) { %>
        <li><%= thing.name %> is awesome!</li>
      <% }); %>
    </ul>
  </body>
</html>
